<!--
  This is the HTML template for the footer component.
  It displays a footer section at the bottom of the page.
  The footer contains copyright information and a link to the GitHub repository.
  The footer is responsive and has different styles for light and dark themes.
-->
<footer
  class="z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600"
>
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
    >© 2024
    <a href="https://github.com/mores-hitt/idwm-ng" class="hover:underline"
      >IDWM</a
    >
    . Todos los derechos reservados.
  </span>
</footer>
