<!--
  This is the HTML template for the registration component.
  It contains a form for users to register with their personal information.
  The form includes fields for RUT, name, birthday, email, gender, password, and confirm password.
  The form also displays an error message if there is any.
  Users can submit the form by clicking the "Registrarse" button.
-->
<div class="p-8 flex items-start justify-center">
  <form
    class="w-full py-4 px-6 max-w-lg bg-white border border-gray-200 rounded-lg shadow flex flex-col gap-4"
    [formGroup]="registerForm"
    (ngSubmit)="registerForm.valid && register()"
    autocomplete="off"
  >
    <!-- Form fields -->
    <h5 class="text-xl my-2 font-medium text-gray-900">
      Regístrate en nuestra plataforma
    </h5>

    <!-- RUT field -->
    <app-text-input
      [formControl]="$any(registerForm.controls['rut'])"
      label="RUT"
      placeholder="Ingrese su RUT. Ej: 12345678-9"
      requiredMessage="El RUT es requerido"
    />

    <!-- Name field -->
    <app-text-input
      [formControl]="$any(registerForm.controls['name'])"
      label="Nombre completo"
      placeholder="Ingrese su nombre completo"
      requiredMessage="El nombre completo es requerido"
    />

    <!-- Birthday field -->
    <app-text-input
      [formControl]="$any(registerForm.controls['birthday'])"
      label="Fecha de nacimiento"
      placeholder="Ingrese su fecha de nacimiento en formato mm/dd/yy"
      requiredMessage="La fecha de nacimiento es requerida"
    />

    <!-- Email field -->
    <app-text-input
      [formControl]="$any(registerForm.controls['email'])"
      label="Correo electrónico"
      [type]="'email'"
      placeholder="Ingrese su correo electrónico"
      requiredMessage="El correo electrónico es requerido"
    />

    <!-- Gender field -->
    <app-select-input
      [formControl]="$any(registerForm.controls['genderId'])"
      label="Género"
      placeholder="Seleccione un género"
      [options]="genderOptions"
      requiredMessage="El género es requerido"
    />

    <!-- Password field -->
    <app-text-input
      [formControl]="$any(registerForm.controls['password'])"
      label="Contraseña"
      [type]="'password'"
      placeholder="Ingrese su contraseña"
      requiredMessage="La contraseña es requerida"
    />

    <!-- Confirm password field -->
    <app-text-input
      [formControl]="$any(registerForm.controls['confirmPassword'])"
      label="Confirme la contraseña"
      [type]="'password'"
      placeholder="Confirme su contraseña"
      requiredMessage="La confirmación de la contraseña es requerida"
    />

    <!-- Error message -->
    <div
      *ngIf="errorMessage"
      class="p-4 text-sm text-red-800 rounded-lg bg-red-50"
      role="alert"
    >
      <span class="font-medium">Error!</span> {{ errorMessage }}
    </div>

    <!-- Submit button -->
    <button
      class="place-self-end w-fit my-2 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg"
      [disabled]="!registerForm.valid"
      [ngClass]="
        registerForm.valid
          ? 'hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300'
          : 'bg-blue-300 cursor-not-allowed'
      "
      type="submit"
    >
      Registrarse
    </button>
  </form>
</div>
