<nav
  class="bg-white border-gray-200 dark:bg-gray-900 font-medium w-full py-4 px-10 flex flex-row justify-between"
>
  <div class="flex flex-row gap-4">
    <a class="flex items-center" routerLink="/">
      <svg
        class="w-8 h-8 text-gray-700"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"
        />
      </svg>
    </a>
    <a
      *ngIf="(authService.currentAuth$ | async)"
      class="text-gray-700 hover:bg-gray-100 hover:text-gray-800 rounded-md px-3 py-2 text-base font-medium"
      routerLinkActive="bg-gray-900 text-white"
      routerLink="/products"
      >Productos</a
    >
  </div>

  <div class="flex flex-row gap-4">
    <a
      *ngIf="!(authService.currentAuth$ | async)"
      class="text-gray-700 hover:bg-gray-100 hover:text-gray-800 rounded-md px-3 py-2 text-base font-medium"
      routerLinkActive="bg-gray-900 text-white"
      routerLink="/login"
      >Iniciar sesión</a
    >
    <a
      *ngIf="!(authService.currentAuth$ | async)"
      class="text-gray-700 hover:bg-gray-100 hover:text-gray-800 rounded-md px-3 py-2 text-base font-medium"
      routerLinkActive="bg-gray-900 text-white"
      routerLink="/register"
      >Registrarse</a
    >
    <a
      *ngIf="(authService.currentAuth$ | async)"
      class="text-gray-700 hover:bg-gray-100 hover:text-gray-800 rounded-md px-3 py-2 text-base font-medium cursor-pointer"
      (click)="authService.logout()"
      routerLink="/"
      >Cerrar sesión</a
    >
  </div>
</nav>
