<!--
  This is the HTML template for the "Change Password" component.
  It contains a form for changing the user's password.
  The form includes input fields for the old password, new password, and confirm new password.
  If there is an error, an error message is displayed.
  The form can be submitted by clicking the "Guardar" button.
-->
<div class="p-8 flex items-start justify-center">
  <form
    class="w-full py-4 px-6 max-w-lg bg-white border border-gray-200 rounded-lg shadow flex flex-col gap-4"
    [formGroup]="editForm"
    (ngSubmit)="editForm.valid && changePassword()"
    autocomplete="off"
  >
    <h5 class="text-xl my-2 font-medium text-gray-900">Cambiar contraseña</h5>

    <!-- Input field for the old password -->
    <app-text-input
      [formControl]="$any(editForm.controls['oldPassword'])"
      label="Contraseña actual"
      placeholder="Ingrese su contraseña actual"
      requiredMessage="La contraseña actual es requerida"
    />

    <!-- Input field for the new password -->
    <app-text-input
      [formControl]="$any(editForm.controls['newPassword'])"
      label="Contraseña nueva"
      placeholder="Ingrese su contraseña nueva"
      requiredMessage="La contraseña nueva es requerida"
    />

    <!-- Input field for confirming the new password -->
    <app-text-input
      [formControl]="$any(editForm.controls['confirmNewPassword'])"
      label="Confirmar contraseña nueva"
      placeholder="Ingrese su contraseña nueva nuevamente"
      requiredMessage="La confirmación de la contraseña nueva es requerida"
    />

    <!-- Error message display -->
    <div
      *ngIf="errorMessage"
      class="p-4 text-sm text-red-800 rounded-lg bg-red-50"
      role="alert"
    >
      <span class="font-medium">Error!</span> {{ errorMessage }}
    </div>

    <!-- Submit button -->
    <button
      class="place-self-end w-fit my-2 px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg"
      [disabled]="!editForm.valid"
      [ngClass]="
        editForm.valid
          ? 'hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300'
          : 'bg-blue-300 cursor-not-allowed'
      "
      type="submit"
    >
      Guardar
    </button>
  </form>
</div>
